/* айпад */

@media all and (min-width: 769px) {
  .logo-X,
  .halfMoons5,
  .halfMoons6,
  .halfMoons7 {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .titleBlock {
    height: 133.3vw;
    padding: 4vw 1.3vw 0 1.3vw;
  }
  h1 {
    font-size: 18.9vw;
    margin-top: 6vw;
  }
  .circle_1,
  .circle_2,
  .circle_3,
  .circle_4 {
    width: 7.6vw;
    height: 7.6vw;
  }
  .logo_1,
  .logo_2,
  .logo_3,
  .logo_5,
  .logo_6,
  .logo_7,
  .logo_8,
  .logo_9,
  .logo_10,
  .logo_12,
  .logo-X {
    width: 14.8vw;
    height: 14.8vw;
    margin-right: 1.3vw;
  }
  .logo_4,
  .logo_9,
  .logo_11 {
    display: none;
  }
  .logo12,
  .logo5 {
    width: 14.8vw;
  }
  .logo_2 {
    margin-top: 28.8vw;
  }
  .logo_3 {
    margin-top: 24.6vw;
  }
  .logo56,
  .logo78,
  .logo_12 {
    margin-top: 9.8vw;
  }
  .logo_6 {
    margin-top: 19vw;
  }
  .logo_8 {
    margin-top: 33.9vw;
  }
  .logo-X {
    margin-top: 16.4vw;
  }
  .logo_10 {
    margin-top: 72.1vw;
  }
  .sheep1,
  .sheep2,
  .sheep3 {
    z-index: 2;
    top: 138.3vw;
  }
  .fence {
    top: 152.3vw;
  }
  .secondBlock,
  .block_1 {
    height: 84.1vw;
  }
  .block_1 {
    width: 49.3vw;
  }
  .block_2,
  .block_3 {
    width: 50vw;
  }

  .halfMoons1,
  .halfMoons2 {
    width: 47.4vw;
    height: 55.4vw;
    background-size: 47.4vw 55.4vw;
  }
  .moon_1 {
    margin-top: -26.6vw;
    animation: upAndDown_2 4s infinite;
  }
  @keyframes upAndDown_2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(26vw);
    }
    100% {
      transform: translateY(0);
    }
  }
  .text1,
  .text2,
  .text3 {
    font-size: 4.7vw;
    line-height: 7vw;
    height: 7vw;
  }
  .block_2 {
    padding-top: 3vw;
    padding-left: 6vw;
  }
  .block_3 {
    height: 56vw;
  }

  .halfMoons3,
  .halfMoons4 {
    width: 60.2vw;
    height: 11.3vw;
    background-size: 60.2vw 11.3vw;
  }
  .halfMoons5,
  .halfMoons6,
  .halfMoons7 {
    width: 37.2vw;
    height: 11.3vw;
    background-size: 37.2vw 11.3vw;
  }
  .halfMoons5 {
    background-image: url(../images/halfMoons-1.png);
    animation: leftAndRight_3 3s infinite;
  }
  .halfMoons6,
  .halfMoons7 {
    background-image: url(../images/halfMoons-2.png);
  }
  .halfMoons6 {
    animation: leftAndRight_4 3s infinite;
  }
  .halfMoons7 {
    animation: leftAndRight_5 3s infinite;
  }

  @keyframes leftAndRight_3 {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-30vw);
    }
    75% {
      transform: translateX(-30vw);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes leftAndRight_4 {
    0% {
      transform: translateX(-15vw);
    }
    50% {
      transform: translateX(0vw);
    }
    75% {
      transform: translateX(-30vw);
    }
    100% {
      transform: translateX(-15vw);
    }
  }
  @keyframes leftAndRight_5 {
    0% {
      transform: translateX(30vw);
    }
    50% {
      transform: translateX(45vw);
    }
    75% {
      transform: translateX(17vw);
    }
    100% {
      transform: translateX(30vw);
    }
  }
  .thirdSection {
    height: 27.4vw;
    padding-top: 0.8vw;
    padding-bottom: 1vw;
  }
  .block_4,
  .block_5 {
    height: 25.9vw;
  }
  .block_4 {
    width: 65.8vw;
  }
  .block_5 {
    margin-left: 1.1vw;
    width: 33.1vw;
  }
  .fourthBlock {
    height: 133.3vw;
  }

  .fourthBlock p,
  .block_6 p {
    font-size: 3.9vw;
  }
  .circle_5,
  .circle_6,
  .circle_7,
  .circle_8,
  .circle_9 {
    width: 7.3vw;
    height: 7.3vw;
  }
  .text4 {
    margin-top: 13.5vw;
    margin-left: 2.7vw;
  }
  .text6 {
    margin-top: 71.4vw;
    margin-left: 60vw;
  }
  .text5 {
    margin-top: 103.9vw;
    margin-left: 1.8vw;
  }

  .logo_13 {
    margin-top: 31vw;
    margin-left: 1.8vw;
  }
  .logo_14 {
    margin-top: 45.6vw;
    margin-left: 18.8vw;
  }
  .logo_15 {
    margin-top: 31vw;
    margin-left: 34.8vw;
  }
  .logo_16 {
    margin-top: 16.7vw;
    margin-left: 50.9vw;
  }
  .logo_17 {
    margin-top: 0vw;
    margin-left: 50.9vw;
  }
  .logo_18 {
    margin-top: 45.6vw;
    margin-left: 67.2vw;
  }
  .logo_19 {
    margin-top: 31vw;
    margin-left: 84vw;
  }
  .logo_20 {
    margin-top: 80.3vw;
    margin-left: 34.8vw;
  }
  .logo_21 {
    margin-top: 91.1vw;
    margin-left: 84vw;
  }
  .logo_22 {
    margin-left: 18.8vw;
    margin-top: 118.5vw;
  }
  .logo_23 {
    margin-top: 98.4vw;
    margin-left: 50.9vw;
  }
  .fifthBlock {
    height: 27.4vw;
  }
  .dnaCase {
    width: 107.9vw;
    height: 25vw;
  }
  .dna {
    margin-top: 1vw;
  }

  .block_6 {
    width: 49.3vw;
  }
  .block_7 {
    width: 50vw;
  }
  .block_7,
  .block_6 {
    height: 85vw;
  }
  .sixthBlock {
    height: 85.8vw;
  }
  .pillow2 {
    margin-left: 23vw;
  }
  .pillow3 {
    margin-left: 45vw;
  }
  .pillow4 {
    margin-left: 48vw;
  }
  .block_7 {
    padding: 10vw 1vw 7.9vw 0vw;
  }
  .text12 {
    animation: flying-2 10s infinite linear;
  }
  .text13 {
    animation: flying-3 8s infinite linear;
  }
  .text14 {
    animation: flying-4 7s infinite linear;
  }
  .text15 {
    animation: flying-5 8s infinite linear;
  }
  .text16 {
    animation: flying-6 8s infinite linear;
  }
  .circle_14 {
    animation: flying-7 4s infinite linear;
  }
  .circle_10 {
    animation: flying-8 6s infinite linear;
  }
  .circle_11 {
    animation: flying-9 9s infinite linear;
  }
  .circle_12 {
    animation: flying-10 10s infinite linear;
  }
  .circle_13 {
    animation: flying-11 8s infinite linear;
  }
  @keyframes flying-2 {
    0% {
      transform: translate(1.3vw, 17.2vw);
    }
    50% {
      transform: translate(7.7vw, 28.8vw);
    }
    70% {
      transform: translate(25.3vw, 22.3vw);
    }
    85% {
      transform: translate(10.3vw, 10.3vw);
    }
    100% {
      transform: translate(1.3vw, 17.2vw);
    }
  }
  @keyframes flying-3 {
    0% {
      transform: translate(31.3vw, 8.6vw);
    }
    50% {
      transform: translate(27vw, 22.8vw);
    }
    65% {
      transform: translate(17.4vw, 25vw);
    }
    80% {
      transform: translate(19.8vw, 7vw);
    }
    100% {
      transform: translate(31.3vw, 8.6vw);
    }
  }
  @keyframes flying-4 {
    0% {
      transform: translate(17.7vw, 38.5vw);
    }
    25% {
      transform: translate(10.3vw, 49.7vw);
    }
    50% {
      transform: translate(2.5vw, 39.5vw);
    }
    80% {
      transform: translate(2.3vw, 31.4vw);
    }
    100% {
      transform: translate(17.7vw, 38.5vw);
    }
  }
  @keyframes flying-5 {
    0% {
      transform: translate(31.8vw, 56.6vw);
    }
    50% {
      transform: translate(22vw, 65.6vw);
    }
    60% {
      transform: translate(11.1vw, 54.7vw);
    }
    85% {
      transform: translate(27vw, 48vw);
    }
    100% {
      transform: translate(31.8vw, 56.6vw);
    }
  }
  @keyframes flying-6 {
    0% {
      transform: translate(1.3vw, 67.4vw);
    }
    50% {
      transform: translate(14.2vw, 74.6vw);
    }
    75% {
      transform: translate(4.7vw, 78.3vw);
    }
    100% {
      transform: translate(1.3vw, 67.4vw);
    }
  }
  @keyframes flying-7 {
    0% {
      transform: translate(17.7vw, 19.5vw);
    }
    50% {
      transform: translate(7.3vw, 29.4vw);
    }
    70% {
      transform: translate(22vw, 32.4vw);
    }
    80% {
      transform: translate(29.4vw, 22.9vw);
    }
    100% {
      transform: translate(17.7vw, 19.5vw);
    }
  }
  @keyframes flying-7 {
    0% {
      transform: translate(34.2vw, 68.9vw);
    }
    50% {
      transform: translate(41.4vw, 63.4vw);
    }
    75% {
      transform: translate(40.2vw, 78.1vw);
    }
    100% {
      transform: translate(34.2vw, 68.9vw);
    }
  }
  @keyframes flying-8 {
    0% {
      transform: translate(11.8vw, 4vw);
    }
    50% {
      transform: translate(19.7vw, 9.9vw);
    }
    75% {
      transform: translate(32vw, 1.4vw);
    }
    100% {
      transform: translate(11.8vw, 4vw);
    }
  }
  @keyframes flying-9 {
    0% {
      transform: translate(17.7vw, 19.5vw);
    }
    50% {
      transform: translate(38vw, 24.5vw);
    }
    75% {
      transform: translate(11.1vw, 35.4vw);
    }
    100% {
      transform: translate(17.7vw, 19.5vw);
    }
  }
  @keyframes flying-10 {
    0% {
      transform: translate(34.2vw, 31.4vw);
    }
    20% {
      transform: translate(42.6vw, 45.7vw);
    }
    75% {
      transform: translate(7.3vw, 49.3vw);
    }
    100% {
      transform: translate(34.2vw, 31.4vw);
    }
  }
  @keyframes flying-11 {
    0% {
      transform: translate(17.4vw, 53.4vw);
    }
    50% {
      transform: translate(7.3vw, 62vw);
    }
    75% {
      transform: translate(4.9vw, 37vw);
    }
    100% {
      transform: translate(17.4vw, 53.4vw);
    }
  }

  .humanSleeps {
    width: 50vw;
    height: 62.4vw;
    background-size: 151.4vw 62.4vw;
    animation: sleeping-3 4s infinite steps(3);
  }

  @keyframes sleeping-3 {
    0% {
      background-position: 0 top;
    }
    100% {
      background-position: -151.4vw top;
    }
  }
  .eighthBlock p {
    margin-top: 4vw;
    font-size: 4.7vw;
  }
}
/* телефон */

@media all and (max-width: 320px) {
  .titleBlock {
    height: 148.4vw;
    padding: 10vw 1.9vw 4.4vw 1.9vw;
  }
  .logo78,
  .logo_12 {
    display: none;
  }
  .logo_1,
  .logo_2,
  .logo_3,
  .logo_5,
  .logo_6,
  .logo_7,
  .logo_8,
  .logo_9,
  .logo_10 {
    width: 22.5vw;
    height: 22.5vw;
    margin-right: 1.9vw;
  }
  h1 {
    font-size: 15.6vw;
  }
  .circle_1,
  .circle_2,
  .circle_3,
  .circle_4 {
    width: 11.3vw;
    height: 11.3vw;
  }
  
}
