/* @font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeue.ttc") format("truetype");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeue.ttc") format("truetype");
  font-style: bold;
  font-weight: bold;
}
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaNeue.ttc") format("truetype");
  font-style: light;
  font-weight: lighter;
} */
